square {
  position: absolute;
  border: 1px solid #666;
  width: 49px;
  height: 49px;
}
square[trap=true] {
  background: #ccc;
}
square[row="1"] { top: 100px; }
square[row="2"] { top: 150px; }
square[row="3"] { top: 200px; }
square[row="4"] { top: 250px; }
square[row="5"] { top: 300px; }
square[row="6"] { top: 350px; }
square[row="7"] { top: 400px; }
square[row="8"] { top: 450px; }

square[column="1"] { left: 50px; }
square[column="2"] { left: 100px; }
square[column="3"] { left: 150px; }
square[column="4"] { left: 200px; }
square[column="5"] { left: 250px; }
square[column="6"] { left: 300px; }
square[column="7"] { left: 350px; }
square[column="8"] { left: 400px; }

piece {
  width: 40px;
  height: 40px;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  padding: 0 4px 9px 5px;
}
piece.selected {
  font-size: 48px;
  margin-left: -4px;
  transition: 100ms;
}
hand {
  zoom: 50%;
}

#questions {
  position: absolute;
  left: 480px;
  top: 85px;
}
