#board .player, #board .space {
  display: block;
  margin-left: 20px;
}
#board square {
  position: absolute;
  border: 1px solid #666;
  width: 49px;
  height: 49px;
  font-size: 0;
}
square[trap=true] {
  background: #ccc;
}
piece {
  font-size: 0;
  width: 40px;
  height: 40px;
  display: inline-block;
  padding: 0 4px 9px 5px;
}
piece[name=elephant][player="1"]:after {
  font-size: 40px;
  content: '♔';
}
piece[name=elephant][player="2"]:after {
  font-size: 40px;
  content: '♚';
}
piece[name=camel][player="1"]:after {
  font-size: 40px;
  content: '♕';
}
piece[name=camel][player="2"]:after {
  font-size: 40px;
  content: '♛';
}
piece[name=horse][player="1"]:after {
  font-size: 40px;
  content: '♖';
}
piece[name=horse][player="2"]:after {
  font-size: 40px;
  content: '♜';
}
piece[name=dog][player="1"]:after {
  font-size: 40px;
  content: '♗';
}
piece[name=dog][player="2"]:after {
  font-size: 40px;
  content: '♝';
}
piece[name=cat][player="1"]:after {
  font-size: 40px;
  content: '♘';
}
piece[name=cat][player="2"]:after {
  font-size: 40px;
  content: '♞';
}
piece[name=rabbit][player="1"]:after {
  font-size: 40px;
  content: '♙';
}
piece[name=rabbit][player="2"]:after {
  font-size: 40px;
  content: '♟';
}

square[row="1"] { top: 200px; }
square[row="2"] { top: 250px; }
square[row="3"] { top: 300px; }
square[row="4"] { top: 350px; }
square[row="5"] { top: 400px; }
square[row="6"] { top: 450px; }
square[row="7"] { top: 500px; }
square[row="8"] { top: 550px; }

square[column="1"] { left: 50px; }
square[column="2"] { left: 100px; }
square[column="3"] { left: 150px; }
square[column="4"] { left: 200px; }
square[column="5"] { left: 250px; }
square[column="6"] { left: 300px; }
square[column="7"] { left: 350px; }
square[column="8"] { left: 400px; }

.selected {
  background: #ff9;
}