board {
  position: absolute;
}

.space {
  position: absolute;
  width: 60px;
  height: 60px;
  text-align: center;
  display: block;
  margin: -30px 0 0 -30px;
  padding: 10px 0;
}

point.space {
  width: 30px;
  height: 30px;
  margin: -15px 0 0 -15px;
}
edge.space {
  width: 30px;
  height: 30px;
  margin: -15px 0 0 -15px;
}

.hilite {
  background: #ffc;
}

.space[y="-11"] { top: 10px; }
.space[y="-10"] { top: 20px; }
.space[y="-9"] { top: 30px; }
.space[y="-8"] { top: 60px; }
.space[y="-7"] { top: 90px; }
.space[y="-6"] { top: 100px; }
.space[y="-5"] { top: 110px; }
.space[y="-4"] { top: 140px; }
.space[y="-3"] { top: 170px; }
.space[y="-2"] { top: 180px; }
.space[y="-1"] { top: 190px; }
.space[y="0"] { top: 220px; }
.space[y="1"] { top: 250px; }
.space[y="2"] { top: 260px; }
.space[y="3"] { top: 270px; }
.space[y="4"] { top: 300px; }
.space[y="5"] { top: 330px; }
.space[y="6"] { top: 340px; }
.space[y="7"] { top: 350px; }
.space[y="8"] { top: 380px; }
.space[y="9"] { top: 410px; }
.space[y="10"] { top: 420px; }
.space[y="11"] { top: 430px; }

.space[x="-11"] { left: 0px; }
.space[x="-10"] { left: 20px; }
.space[x="-9"] { left: 40px; }
.space[x="-8"] { left: 60px; }
.space[x="-7"] { left: 80px; }
.space[x="-6"] { left: 100px; }
.space[x="-5"] { left: 120px; }
.space[x="-4"] { left: 140px; }
.space[x="-3"] { left: 160px; }
.space[x="-2"] { left: 180px; }
.space[x="-1"] { left: 200px; }
.space[x="0"] { left: 220px; }
.space[x="1"] { left: 240px; }
.space[x="2"] { left: 260px; }
.space[x="3"] { left: 280px; }
.space[x="4"] { left: 300px; }
.space[x="5"] { left: 320px; }
.space[x="6"] { left: 340px; }
.space[x="7"] { left: 360px; }
.space[x="8"] { left: 380px; }
.space[x="9"] { left: 400px; }
.space[x="10"] { left: 420px; }
.space[x="11"] { left: 440px; }

resource {
  position: relative;
  background: #eec;
  width: 60px;
  height: 80px;
  border: 1px solid #886;
  border-radius: 4px;
  padding: 0 2px;
  margin-left: -34px;
}

player {
  float: right;
}

hand {
  height: 100px;
}