#board .player, #board .space {
  margin: 0;
}
#board player {
  position: absolute;
}
#board player[position="1"] {
  left: 210px;
  top: 20px;
}
#board player[position="2"] { 
  left: 740px;
  top: 174px;
}
#board player[position="3"] {
  left: 210px;
  top: 500px;
}
#board player[position="4"] {
  left: 20px;
  top: 174px;
}

#board tricksArea {
  position: absolute;
}
#board tricksArea[player="1"] {
  left: -20px;
  top: 90px;
}
#board tricksArea[player="2"] {
  left: -40px;
  top: -40px;
}
#board tricksArea[player="3"] {
  left: -20px;
  top: -42px;
}
#board tricksArea[player="4"] {
  left: 80px;
  top: -40px;
}
#board tricksArea card.piece {
  zoom: 40%;
  display: none;
}
#board tricksArea card.piece:nth-child(4n+0) {
  display: inline-block;
}

#board passingArea, #board playingArea {
  position: absolute;
}
#board passingArea[player="1"], #board playingArea[player="1"] {
  left: 50%;
  top: 100px;
}
#board passingArea[player="2"], #board playingArea[player="2"] {
  left: -80px;
  top: 50%;
}
#board passingArea[player="3"], #board playingArea[player="3"] {
  left: 50%;
  top: -100px;
}
#board passingArea[player="4"], #board playingArea[player="4"] {
  left: 80px;
  top: 50%;
}

#board card {
  background: white;
  width: 60px;
  height: 80px;
  border: 1px solid #666;
  border-radius: 4px;
}
#board *[player="1"] card, #board *[player="3"] card {
  margin-left: -34px;
}
#board *[player="2"] card, #board *[player="4"] card {
  margin: 0;
  display: block;
  margin-top: -58px;
}

#board card:not([name]) {
  background: #ccf;
}
#board card.game-moving {
  -moz-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
}
#board card[suit=h], #board card[suit=d] {
  color: red;
}
#board card[suit=s], #board card[suit=c] {
  color: black;
}
#board card[suit=h]:after {
  content: '♥';
}
#board card[suit=d]:after {
  content: '♦';
}
#board card[suit=c]:after {
  content: '♣';
}
#board card[suit=s]:after {
  content: '♠';
}
#board card.selected {
  background: #ff9;
}
#questions {
  position: absolute;
  top: 230px;
  left: 280px;
}
