/* placeholder styles for basic elements */
#board .player, #board .space {
  display: block;
  margin-left: 20px;
}
#board .space > .name {
  display: inline-block;
  width: 120px;
}
#board .space > .name:after {
  content: ':';
}
#board .piece {
  display: inline-block;
  padding: 0 3px;
}

/* adjust temporary bootstrap dialog */
.modal-dialog {
  float: right;
}
.modal-backdrop.in {
  display: none;
}

/* some sample game styles */
#board card[suit=h], #board card[suit=d] {
  color: red;
}
#board card[suit=s], #board card[suit=c] {
  color: black;
}
#board card[suit=h]:after {
  content: '♥';
}
#board card[suit=d]:after {
  content: '♦';
}
#board card[suit=c]:after {
  content: '♣';
}
#board card[suit=s]:after {
  content: '♠';
}

#board card.selected {
  background: #ff9;
}