<h1>Account</h1>

<form action="/account" method="POST">
  Username <input type="text" name="username"><br>
  Password <input type="password" name="password"><br>
  Confirm it! <input type="password" name="confirmPassword"><br>
  <input type="submit" value="Create account">
</form>
