<h1>Games

<h2>In progress</h2>

<ul>
<% list.forEach(function(game) { %>
  <li>Game <a href="/games/<%= game.id %>">#<%= game.id %></a> (<%= game.name %>)</li>
<% }) %>
</ul>

<h2>Create new game</h2>

<form action="/games" method="post"><input type="hidden" name="name" value="hearts"><input type="submit" value="Create hearts game" class="btn"></form>