<h1>Game <%= game.name %></h1>

<div id="transcript">
</div>

<script>
  function submitAnswer(question, answers) {
    if (answers.length < question.min) {
      alert("You need to at least "+question.min+" answers");
      return;
    } else if(answers.length > question.max) {
      alert("You need to as most "+question.max+" answers");
      return;
    }
    $.post('/games/<%= game.id %>/moves', {id: question.id, answer: JSON.stringify(answers)}).always(function() {
      console.log("all done");
    })
  }

  $(document).ready(function() {
    if (window.EventSource !== undefined) {
      var source = new EventSource('/games/<%= game.id %>/moves');
      source.addEventListener('information', function(message) {
        var div = $('<div/>');
        div.addClass(message.type);
        div.html(message.data);
        $('#transcript').append(div);
      });
      source.addEventListener('question', function(message) {
        var div = $('<div/>');
        div.addClass(message.type);
        var body = JSON.parse(message.data);

        switch(body.type) {
          case "multiple":
            console.dir(body)
            for (var i = 0; i != body.answers.length; i++) {
              var answer = body.answers[i];
              var checkbox = $('<input/>').attr('type', 'checkbox').attr('value', answer.id);
              var label = $('<label/>');
              var span = $('<span/>');
              span.html(answer.id)
              div.append(label.append(checkbox).append(span));
            }
            var button = $('<button/>').html(body.label);
            div.append(button);
            button.on('click', function() {
              var answers = _.map(div.find(':checked'), function(el) { return $(el).attr('value') });
              submitAnswer(body, answers);
            });
            break;
          default:
            div.html('something strange!');
            break;
        }
        $('#transcript').append(div);

      });
    } else {
      alert('fat chance homer')
    }
  })
</script>