<h1>Game <%= game.name %></h1>

<script>
  if (!!window.EventSource) {
    var source = new EventSource('/players/1/moves');
    //source.addEventListener('information', function(e) {
    //  console.dir(e)
    //})
    source.addEventListener('message', function(message) {
      console.dir(message);
    });
  } else {
    // Result to xhr polling :(
  }
</script>