<h1>Login</h1>

<form action="/login" method="post">
  Username <input type="text" name="username"><br>
  Password <input type="password" name="password"><br>
  <input type="submit" value="Login">
  <a href="/auth/facebook">Sign in with Facebook</a>
  <a href="/auth/twitter">Sign in with Twitter</a>
</form>

<a href="/account">Or create an account!</a>
