<h1>Login</h1>

<form action="/login">
  Username <input type="text" name="username"><br>
  Password <input type="password" name="password"><br>
  Confirm it! <input type="password" name="password"><br>
  <input type="submit" value="Save account">
</form>

<a href="/account">Or create an account!</a>
